@model aGrouponClasses.Models.tDeal

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}



                    @Html.Partial("DetailPartial", @Model)  


                    <!-- BORDER-HORIZONTAL -->
                    <div class="border-horizontal"></div>




                    <!-- SPONZORI-LOGO -->
                    <div class="sponzori-logo"></div>




                    <!-- BORDER-HORIZONTAL -->
                    <div class="border-horizontal"></div>


                    @Html.Partial("DealsByCategoryPartial", (List<aGrouponClasses.Models.tDeal>)@ViewBag.DealsBySameCategory)  


