@model aGrouponClasses.Models.tCategory
           <a href="/Deal/DealsByCategory?IDCity=@Model.IDCategory">All Deals</a>
<ul class="sub-menu">
    <li><a href="/Team/Comments">Reviews</a></li>
    <li><a href="/Partner/PartnersByCategory?IDCity=@Model.IDCategory">Partners</a></li>
    <li><a href="/Help/Tour">Tour</a></li>
    <li><a href="/Forum">Forum</a></li>
</ul>
