<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="aGrouponClasses.Properties.Settings.AGrouponConnectionString"
            connectionString="Data Source=localhost\SQLSRV2008;Initial Catalog=AGroupon;Persist Security Info=True;User ID=agrouponuser;Password=123"
            providerName="System.Data.SqlClient" />
        <add name="aGrouponClasses.Properties.Settings.AGrouponConnectionString1"
            connectionString="Data Source=localhost\SQLSRV2008;Initial Catalog=AGroupon;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>